* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow: 6px 6px rgb(240, 237, 237);
  --light: #f8f8f8;
  --ligt-gray: #707070;
  --ligt-blu: #1792d2;
  --dark-blu: #143774;
}

body {
  font-family: "Open Sans";
}

.BURGER-CONTA {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
}

.BURGER-B {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.BURGEN {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.BURGEN div {
  background-color: black;
  width: 100%;
  height: 4px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.BURGEN div::before,
.BURGEN div::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: 0;
}

.BURGEN div::after {
  top: 10px;
}

.BURGER-B:checked + .BURGEN div {
  transform: rotate(135deg);
}
.BURGER-B:checked + .BURGEN div::before,
.BURGER-B:checked + .BURGEN div::after {
  top: 0;
  transform: rotate(90deg);
}
.BURGER-B:checked ~ .MAIN-BURGER-CONTA {
  visibility: visible;
}

.BURGER-B:checked ~ .MAIN-BURGER-CONTA div {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.BURGER-B:checked ~ .MAIN-BURGER-CONTA div div {
  opacity: 1;
  transition: opacity ease 1s;
}

/* styling the navegation header */

.MAIN-BURGER-CONTA {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  visibility: hidden;
  overflow: 0 hidden;
}

.MAIN-BURGER-CONTA div {
  width: 200vw;
  height: 200vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}

.BURGER-B div div {
  background-color: whitesmoke;
  max-width: 100%;
  height: 95vh;
  text-align: center;
  opacity: 0;
  transition: opacity ease 1s;
}

.MAIN-BURGER-CONTA ul li {
  list-style: none;
  padding-bottom: 1rem;
}

.MAIN-BURGER-CONTA a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: var(--shadow);
}

.main {
  background-color: white;
  width: 98%;
  max-width: 950px;
  margin: 0 auto;
  padding: 1.6rem;
}

.header {
  text-align: center;
  padding-bottom: 1.5rem;
}

.header .logg {
  font-size: 2rem;
}
.header h1 {
  padding-bottom: 1rem;
}

/* styling the container */

.container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  max-width: 770px;
}

.list {
  display: grid;
  gap: 2rem;
  align-content: center;
  padding-left: 1rem;
}

.card {
  display: grid;
  gap: 2rem;
  align-content: center;
  margin: 4.5rem 0rem;
  padding-left: 1rem;
}
.LIST {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container i {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  font-size: 1.7rem;
}
.list i {
  color: yellow;
  margin-bottom: 1rem;
}

/* styling inside the cards */

.card:first-child {
  border-top: 3px solid lightseagreen;
  box-shadow: var(--shadow);
}
.card:last-child {
  border-top: 3px solid rgb(1, 110, 110);
  box-shadow: var(--shadow);
}
.list:first-child {
  border-top: 3px solid darkred;
  box-shadow: var(--shadow);
}
.list:last-child {
  border-top: 3px solid darkgoldenrod;
  box-shadow: var(--shadow);
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .card i {
    padding-bottom: 2rem;
    padding-right: 6rem;
  }
}

@media (max-width: 950px) {
  .main {
    background-color: white;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    font-size: 1.7rem;
  }

  .container {
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;
    max-width: 770px;
  }
}
