:root {
  --shadow: 20px 20px 20px 10px gray;
  --border-radius: 100%;
  --border-bottom: 2px solid black;
}

body {
  background-color: #ccc;
  font-size: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
}

.HAM-BURGr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.HAm {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.BURGEr {
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /* transition: all 0.4s ease-in-out; */
}
.BURGEr div {
  background-color: black;
  width: 100%;
  height: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.BURGEr div::before,
.BURGEr div::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 1;
}
.BURGEr div::after {
  top: 10px;
}

/* lets make it rotate  */
.HAm:checked + .BURGEr div {
  transform: rotate(135deg);
}
.HAm:checked + .BURGEr div::before,
.HAm:checked + .BURGEr div::after {
  top: 0;
  transform: rotate(90deg);
  background-color: violet;
}

.HAm:checked ~ .HAM-MENu {
  visibility: visible;
  transition: 1s ease-in-out;
}

.HAM-MENu {
  background: linear-gradient(125deg, violet, lightgreen, lightblue);
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s ease;
  border-radius: 2rem;
}

.HAM-BURGr ul li {
  list-style: none;
  padding-bottom: 1.5rem;
}
.HAM-BURGr a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.HAM-BURGr a:hover {
  color: blue;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 1rem;
  box-shadow: var(--shadow);
}

/* .HAM-MENu div {

} */

.containter {
  background-color: white;
  width: 95%;
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  /* margin-top: 3rem; */
  position: relative;
  animation-name: contain;
  animation-duration: 6s;

  /* transition-property: all;
  transition-duration: 2s; */
}

@keyframes contain {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

.card-one {
  background-image: url(house\ kit.webp);
  background-position: center;
  background-size: cover;
  grid-column: span 2;
}

.card-one ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-top: 1.6rem;
  position: relative;
  animation-name: cardone;
  animation-duration: 4s;
}

@keyframes cardone {
  0% {
    top: -50px;
  }
  100% {
    top: 200px;
  }
}
.card-one ul a {
  color: white;
  padding-left: 1rem;
  text-decoration: none;
}

.card-two {
  padding: 1.4rem;
}

.card-two p {
  font-size: 1rem;
}
.card-two h1 {
  font-size: 2rem;
}
.card-two button {
  font-size: 1.5rem;
  margin-top: 1rem;
  border: none;
  background-color: white;
}
img {
  width: 100%;
}
.card-three {
  background-image: url(house\ kit.webp);
  background-position: center;
  background-size: cover;
}
.card-four h2 {
  font-size: 1.8rem;
}
.card-four p {
  font-size: 1rem;
}
.card-four {
  padding: 1rem 3rem;
}
.card-five img {
  background-image: url(choco-cake.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 500px) {
  .containter {
    display: flex;
    flex-direction: column;
  }

  .card-one {
    height: 30vh;
  }
  .card-one ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-one ul a {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
